.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  background-color: #13345b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 47px 80px;
}
ul {
  display: flex;
  justify-content: space-between;
  gap: 52px;
}
.home {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fdd504;
}
.home:hover {
  font-size: 300%;
  animation: anim2 500ms infinite;
}
.product {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fdd504;
}
.product:hover {
  font-size: 300%;
}
.contact {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #fd0404;
}
.contact:hover {
  font-size: 300%;
}
.fa-cart-shopping {
  color: rgba(253, 213, 4, 1);
  font-size: 49px;
}
.fa-cart-shopping:hover {
  font-size: 350%;
}
main {
  width: 90%;
  margin: 0 auto;
  /* display: flex; */
  align-items: center;
}
.main_title1 {
  margin: 114px 0px 88px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #13345b;
}
.first_row {
  display: flex;
  justify-content: space-between;
}
.second_row {
  display: flex;
  justify-content: space-between;
  margin-top: 51px;
}

label {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #13345b;
}
input {
  margin-top: 8px;
  width: 550px;
  height: 58px;
  background-color: #b3e9f5;
  border-style: none;
  outline: none;
}
.main_title2 {
  margin-top: 120px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #15c1e7;
}
.selector1 {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  margin-top: 32px;
}
input[type="radio"] {
  width: 32px;
  height: 32px;
}
.radio1 {
  display: flex;
  align-items: center;
}
.main_title3 {
  margin-top: 65px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #15c1e7;
}
.selector2 {
  display: flex;
  justify-content: flex-start;
  gap: 60px;
  margin-top: 32px;
}
.checkbox1 {
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  width: 32px;
  height: 32px;
}
input[type="file"] {
  background-color: white;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  margin-top: 43px;
}
.buttons {
  margin-top: 121px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between;
}
.send_message {
  width: 630px;
  height: 108px;
  border-radius: 15px;
  background-color: #fdd504;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  border-style: none;
}
.reset {
  width: 630px;
  height: 108px;
  border-radius: 15px;
  background-color: #15c1e7;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #ffffff;
  border-style: none;
}
footer {
  background-color: #13345b;
  width: 1440px;
  height: 200px;

}
.footer_icons {
  display: flex;
  justify-content: space-between;
  padding: 60px 470px;
}
.fa-square-facebook {
  font-size: 80px;
  color: white;
}
.fa-square-facebook:hover{
color: #15C1E7;
 transform: translate(0, -10px);
}
.fa-instagram {
  font-size: 80px;
  color: white;
}
.fa-instagram.fa-instagram:hover{
    color: #FB0110;
 transform: translate(0, -10px);
}
.fa-twitter {
  font-size: 80px;
  color: white;
}
.fa-twitter:hover{
color: #75A1F3;
 transform: translate(0, -10px);
}

.fa-youtube {
  font-size: 80px;
  color: white;
}
.fa-youtube:hover{
    color: #FDD504;
 transform: translate(0, -10px);
}
